$label-color: rgba(var(--r-color-color), 0.5);
$line-color: #999;
$offline-color: #eee;
$label-padding-top: 9px;
$input-height: 36px;
$input-height-small: 20px;
$input-height-medium: 24px;
$input-padding-left: 10px;
$input-padding-top: 1px;
$input-font-size: 14px;
$input-radius: 4px;
$input-border: 1px solid $line-color;
$preview-padding-top: 1px;
